{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>


<div class="container">
<div class="col-lg-12 col-md-12 col-sm-12">

{% if node.field_media_options_person.value == 'big' %}
  <div class="row">
  {{ content.field_global_image }}
  </div>
{% endif %}




{% if node.field_global_media_options.value == 'md' %}
  <div class="row">
  <div class="md">
  {{ content.field_global_image }}
  </div>
  </div>
{% endif %}





{% if node.field_global_media_options.value == 'sm' %}
  <div class="row">
  <div class="sm">
  {{ content.field_global_image }}
  </div>
  </div>
{% endif %}

   </br>

{% if node.field_global_media_options.value == 'article' %}
  <div class="row">
  {{ content.field_global_image }}
  </div>
{% endif %}



{% if node.field_global_media_options.value == 'person' %}
  <div class="row">
  {{ content.field_global_image }}
  </div>
{% endif %}



{% if node.field_global_media_options.value == 'person1' %}
  <div class="row">
  <div class="person">
  {{ content.field_global_image }}
  </div>
  </div>
{% endif %}



{% if node.field_global_media_options.value == 'person1' %}
  <div class="row">
  <img src="{{ file_url(content.field_global_image|field_target_entity.image.entity.uri.value | image_style('person_portrait'))}} " >
  </div>
{% endif %}


{{ content.body }}


{% if node.field_global_media_options.value == 'small' %}
  <div class="row">
      {% for key, item in content.field_global_image if key|first != '#' %}
       <div class="test1 col-lg-3 col-md-3 col-sm-3">{{ item }}</div>
      {% endfor %}
  </div>
{% endif %}




{% if node.field_global_media_options.value == 'medium' %}
  <div class="row">
      {% for key, item in content.field_global_image if key|first != '#' %}
       <div class="test1 col-lg-4 col-md-4 col-sm-4">{{ item }}</div>
      {% endfor %}
  </div>
{% endif %}



{% if node.field_global_media_options.value == 'large' %}
  <div class="row">
      {% for key, item in content.field_global_image if key|first != '#' %}
       <div class="test1 col-lg-6 col-md-6 col-sm-12">{{ item }}</div>
      {% endfor %}
  </div>
{% endif %}



{% if node.field_global_media_options.value == 'recall' %}
  <div class="row">
{% for key, item in content.field_global_image  if key|first != '#' %}
  <div class="recall">{{ item }}</div>
{% endfor %}
  </div>
{% endif %}



{% if node.field_global_media_options.value == 'sm' %}
  <div class="row">
  <div class="sm">
  {{ content.field_global_image }}
  </div>
  </div>
{% endif %}



  </div>


  </div>

  </div>

</article>
